# --- DATABASE CONFIGURATION ---
DB_USER=postgres
DB_HOST=localhost
DB_NAME=web-platform
DB_PASSWORD=your_secure_password_here
DB_PORT=5432

# --- SERVER CONFIGURATION ---
PORT=5000
JWT_SECRET=superSecretKey123

# --- URLS ---
# Base URL pro backend API
BASE_URL="http://localhost:5000"
# URL pro frontend (pro CORS nastavení)
FRONT_URL="https://localhost:5173"

# --- EMAIL SERVICE (SMTP) ---
# Použijte App Password z Google účtu, ne hlavní heslo
#EMAIL_USER=example@gmail.com
#EMAIL_PASSWORD=your_app_specific_password

EMAIL_HOST=mailpit
EMAIL_PORT=1025
EMAIL_USER=
EMAIL_PASSWORD=