@import 'tailwindcss';

@theme {
  /* Шрифт */
  --font-sans: 'Inter', sans-serif;

  --color-primary: #ea580c;
  --color-primary-hover: #c2410c;
  --color-primary-light: #ffedd5;

  --color-secondary: #1e293b;
  --color-secondary-light: #475569;

  --color-bg-main: #f1f5f9;
  --color-surface: #ffffff;
  --color-border: #cbd5e1;

  --color-success: #16a34a;
  --color-warning: #ca8a04;
  --color-danger: #dc2626;
}

html,
body,
#root {
  background-color: var(--color-bg-main);
  color: var(--color-secondary);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
